@using BitNews.ViewModels.Account;
@model ResetPasswordVM
@{
    ViewData["Title"] = "SignIn";
    Layout = "";

}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>BitNews | Log In</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="">

    <link rel="stylesheet" href="~/assets/sass/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/sass/login-register.css" />

    <link rel="shortcut icon" href="~/assets/img/logo-bitnews.png">
    <link rel="apple-touch-icon" href="~/assets/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/img/apple-touch-icon-114x114.png">
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet"
          type="text/css" />
</head>

<body>

    <div class="main">
        <a asp-controller="Home" asp-action="Index" class="logo d-flex justify-content-center mb-4 my-1">
            <img class="logo-img" src="~/assets/img/logo-bitnews.png" alt="BitNews Logo">
        </a>
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <form asp-controller="Account" asp-action="ResetPassword" method="post" id="signup-form" class="signup-form">
                        <h2 class="form-title">Reset Password</h2>
                        <div class="form-group">
                            <input asp-for="NewPassword" type="password" placeholder="Password" class="form-input" autocomplete="current-password" required="" id="id_password1">
                            <i class="fa-solid far fa-eye-slash" id="togglePassword1"></i>
                            <i class="far fa-eye d-none" id="togglePassword2"></i>
                        </div>
                        <div class="form-group mb-0">
                            <input asp-for="ConfirmNewPassword" type="password" placeholder="Repeat your Password" class="form-input" autocomplete="current-password" required="" id="id_password2">
                            <i class="fa-solid far fa-eye-slash" id="togglePassword3"></i>
                            <i class="far fa-eye d-none" id="togglePassword4"></i>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Confirm" />
                            <div style="border-radius:5%; color: red;" role="alert" asp-validation-summary="All"></div>
                        </div>
                        <input type="hidden" asp-for="Token" value="@Model.Token" />
                        <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                    </form>
                    <p class="loginhere">
                        Don't have an account? <a asp-controller="Account" asp-action="SignUp" class="loginhere-link">
                            Register
                            here
                        </a>
                    </p>
                </div>

            </div>
        </section>
    </div>

    <script src="~/assets/js/jquery.min.js" defer></script>
    <script src="~/assets/js/bootstrap.min.js" defer></script>
    <script src="~/assets/js/jquery.marquee.min.js" defer></script>
    <script src="~/assets/js/login-register.js" defer></script>

</body>

</html>
