<!DOCTYPE html>
<html lang="en">

<head>
    <title>BitNews | Home</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400i,700%7CRubik:300,400,500' rel='stylesheet'>
    <link rel="stylesheet" href="~/assets/sass/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/sass/font-icons.css" />
    <link rel="stylesheet" href="~/assets/sass/style.css" />
    <link rel="shortcut icon" href="~/assets/img/logo-bitnews.png">
    <link rel="apple-touch-icon" href="~/assets/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/img/apple-touch-icon-114x114.png">
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet"
          type="text/css" />

</head>

<style>
    .header-widget {
        position: relative;
        display: inline-block;
    }

    button{
        outline: none !important;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        background-color: #f9f9f9;
        padding: 8px;
        border: 1px solid #ccc;
        z-index: 1;
    }
    
        .dropdown-menu a {
            display: block;
            padding: 6px 12px;
            text-decoration: none;
            color: #333;
        }

    .header-widget:hover .dropdown-menu {
        display: block;
    }
</style>



<body>
    <div class="loader-mask">
        <div class="loader">
            <div></div>
        </div>
    </div>

    <div class="content-overlay"></div>

    @await Component.InvokeAsync("Header")

    @RenderBody()
    @await Component.InvokeAsync("Footer")





</body>


<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/easing.min.js"></script>
<script src="~/assets/js/jquery.marquee.min.js"></script>
<script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="~/assets/js/isotope.pkgd.min.js"></script>
<script src="~/assets/js/owl-carousel.min.js"></script>
<script src="~/assets/js/modernizr.min.js"></script>
<script src="~/assets/js/scripts.js"></script>
@RenderSection("Scripts", required: false)

</html>