@model CategoryVM

@{
    ViewData["Title"] = "Index";
}

<main class="main oh" id="main">
    <section class="section-wrap main-content">
        <div class="container">
            @if (!(Model != null && Model.Categories.Count > 0))
            {
                <h5 class="text-center">No categories available.</h5>
            }
            else
            {
                <div class="row" id="isotope-grid">
                    @foreach (var category in Model.Categories)
                    {
                        <div class="col-lg-4 col-md-6">
                            <article class="entry">
                                <a asp-controller="News" asp-action="Index" asp-route-id="@category.Id" class="entry-meta-category">@category.Name</a>
                                <div class="entry-img-holder">
                                    <a asp-controller="News" asp-action="Index" asp-route-id="@category.Id">
                                        <div class="thumb-container thumb-65">
                                            <img src="~/assets/img/Category/@category.Image" class="entry-img" alt="" />
                                        </div>
                                    </a>
                                </div>
                            </article>
                        </div>
                    }
                </div>
            }
        </div>
    </section>

    <div id="back-to-top">
        <a href="#top" aria-label="Go to top"><i class="ui-arrow-up"></i></a>
    </div>

</main>

