@using BitNews.Areas.Admin.ViewModels.News;
@model List<NewsVM>

@{
    ViewData["Title"] = "Index";
}

<main class="main oh" id="main">

    <section class="section-wrap main-content">
        <div class="container">
            <div class="row">


                <div class="col-md-4">
                    <h1 class="page-title h2">All News</h1>
                    <div class="row flex-column">
                        <div class="container">
                            <select name="sort" class="w-75 mb-1">
                                <option value="">Sort By</option>
                                <option value="">Alphabet</option>
                                <option value="">Popular</option>
                                <option value="">Latest News</option>
                            </select>
                            <select name="sort" class="w-75 mb-1">
                                <option value="">Item Count</option>
                                <option value="">Show 10</option>
                                <option value="">Show 20</option>
                                <option value="">Show 40</option>
                            </select>
                        </div>

                        <div class="shop-widget w-80">
                            <div class="container">
                                <form>
                                    <h6 class="shop-widget-title my-2">Filter by Tag</h6>
                                    <ul class="shop-widget-list">
                                        <li class="my-2">
                                            <div class="shop-widget-content">
                                                <input type="checkbox" id="tag1">
                                                <label for="tag1">Education</label>
                                            </div>
                                        </li>
                                        <li class="my-2">
                                            <div class="shop-widget-content">
                                                <input type="checkbox" id="tag2">
                                                <label for="tag2">Mining</label>
                                            </div>
                                        </li>
                                        <li class="my-2">
                                            <div class="shop-widget-content">
                                                <input type="checkbox" id="tag3">
                                                <label for="tag3">Investment</label>
                                            </div>
                                        </li>
                                        <li class="my-2">
                                            <div class="shop-widget-content">
                                                <input type="checkbox" id="tag4">
                                                <label for="tag4">REVIEWS</label>
                                            </div>
                                        </li>
                                        <li class="my-2">
                                            <div class="shop-widget-content">
                                                <input type="checkbox" id="tag5">
                                                <label for="tag5">ICO'S</label>
                                            </div>
                                        </li>
                                        <li class="my-2">
                                            <div class="shop-widget-content">
                                                <input type="checkbox" id="tag6">
                                                <label for="tag6">GROWTH</label>
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-8">

                    <div class="row" id="isotope-grid">
                        @if (Model != null && Model.Count > 0)
                        {
                            @foreach (var item in Model)
                            {
                                <div class="col-lg-4 col-md-6">
                                    <article class="entry">
                                        <div class="entry-img-holder">
                                            <a href="single-post.html">
                                                <div class="thumb-container thumb-65">
                                                    <img src="~/assets/img/News/@item.Image" class="entry-img" alt="" />
                                                </div>
                                            </a>
                                        </div>
                                        <div class="entry-body">
                                            <div class="entry-header">
                                                <h2 class="entry-title entry-title--medium">
                                                    <a href="single-post.html">@item.Title</a>
                                                </h2>
                                                <ul class="entry-meta">
                                                    <li class="entry-meta-author">
                                                        <a href="#">
                                                            <span>by</span>
                                                            <span class="entry-meta-author-name">DeoThemes</span>
                                                        </a>
                                                    </li>
                                                    <li class="entry-meta-date">21 October, 2018</li>
                                                </ul>
                                            </div>
                                            <div class="entry-excerpt">
                                                <p>
                                                    @item.Description
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            }
                        }
                        else
                        {
                            <p>No news available.</p>
                        }
                
                    </div>
                    @if (Model != null && Model.Count > 0)
                    {
                        <nav class="show-more">
                            <div class="show-more-link text-center">
                            <a href="#" class="btn btn-lg btn-color">
                                <span>more news</span>
                            </a>
                        </div>
                    </nav>
                    }


                </div>

            </div>



        </div> <!-- end container -->
    </section> <!-- end main content -->

    <div id="back-to-top">
        <a href="#top" aria-label="Go to top"><i class="ui-arrow-up"></i></a>
    </div>

</main>

